.footer{
    width: 100vw;
    height: 2rem;
    background-color: rgb(208, 148, 148) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}